<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<html>
    <head>
        <title>Login and Registration</title>
        <link rel="stylesheet" href="app.component.css">
    </head>

    <body>
        <div class="login-page">
        <div class="form">
            <img src="assets/img/digilogo.png" width="200" height="50" ><br><br>
            <h1>SIGN IN</h1><br>
            <form class="register-form" action="">

                <input type="text" placeholder="Email address"><br><br>
                <input type="password" placeholder="Password">
                <hr>
                <a href="" id="forget">Forgot your password?</a>
                <br><br>
                <button class="button1">Sign In</button><br><br>
                <p>Don't have an account?<br>
                <a href="signup.html" id="signup">Sign Up</a>
                </p>
            </form>
        </div>    
        </div>
    </body>
</html>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<router-outlet></router-outlet>